<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appraisal agency</title>
    <link rel="stylesheet" href="/resources/static/css/styles.css">
    <link rel="stylesheet" href="/resources/static/css/tabs.css">
    <script src="/resources/static/js/script.js" defer></script>
<style>
    body{
        background-size: cover;
        background: url("/../../../resources/static/assets/background_personalInfo.jpg") no-repeat;
        font-size: 18px;
    }
    table{
        padding-top: 25px;
    }
    .form{
    margin-top: 35px;
    }
    .fm{
    margin-top: 20px;
    }
    .transform{
        background: url("/../../../resources/static/assets/background_personalInfo2.jpg") no-repeat;
    }
    .error{
        background-color: #fffcfc;
        position: fixed;
        z-index: 50;
        top: 30%;
        left: 13%;
        padding: 0.4rem;
        max-width: 400px;
    }
    .tabs{
        max-width: 450px;
        backdrop-filter: blur(8px);
    }
    </style>
</head>
<body>
<div th:class="${error} ? error : ''">
    <h4 th:text="${error}"></h4>
</div>

<div class="tabs">
    <input type="radio" name="tab-btn" id="tab-btn-1" value="" checked onclick="myFunction1()">
    <label for="tab-btn-1">Работа с типами<br> объектов</label>
    <input type="radio" name="tab-btn" id="tab-btn-2" value="" onclick="myFunction()">
    <label for="tab-btn-2">Работа с<br> объектами недвижимости</label>

    <div id="content-1">

        <div class="addDelete">
            <div  th:switch="${objectsTypes}">
                <div th:case="null"><span class="deals">Доступных типов не найдено</span></div>
                <div th:case="*">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Название</th>
                            <th>Удалить</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each = "objectType : ${objectsTypes}">
                            <td th:text="${objectType.id}"></td>
                            <td th:text="${objectType.type}"></td>
                            <td><button class="btn"><a th:href = "@{/appraiser/deleteType/{id} (id=${objectType.id})}">Удалить</a></button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="form">
                <form th:action="@{/appraiser/addType}" method="post">
                    <h3>Добавление типа<br> объекта недвижимости</h3>
                    <div class="field">
                        <label class="label" for="type">Название типа<br> объекта недвижимости</label>
                        <input type="text" name="type" class="input" id="type" placeholder="Название" value="" required>
                    </div>
                    <button  type="submit" class="input execute">Добавить</button>

                </form>



            <form th:action="@{/appraiser/alterType}" th:object="${objectType}" method="post" class="fm">
                <h3>Изменение типа<br> объекта недвижимости</h3>
                <div class="field">
                    <label for="alterType" class="label">Выберите id объекта</label>
                    <select th:field = "*{id}" class="input"  id="alterType">
                        <option th:each = "objectType : ${objectsTypes}" th:value="${objectType.id}" th:text="${objectType.id}" class="input"></option>
                    </select>
                </div>
                <div class="field">
                    <label class="label" for="newType">Введите новое название</label>
                    <input type="text" th:field="*{type}" id="newType" placeholder="Название" class="input" value="" required>
                </div>
                <div class="field">
                <button  type="submit" class="input">Обновить</button>
                </div>
                <div class="field"></div>
            </form>
            </div>
        </div>

    </div>
    <div id="content-2">

        <div class="objectsToAppraise">
            <div  th:switch="${objectsToAppraise}">
                <div th:case="null"><span class="deals">Доступных объектов для оценки не найдено</span></div>
                <div th:case="*">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Название</th>
                            <th>Описание</th>
                            <th>Удалить</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each = "objectToAppraise : ${objectsToAppraise}">
                            <td th:text="${objectToAppraise.id}"></td>
                            <td th:text="${objectToAppraise.objectType.type}"></td>
                            <td th:text="${objectToAppraise.description}"></td>
                            <td><button class="btn"><a th:href = "@{/appraiser/deleteObject/{id} (id=${objectToAppraise.id})}">Удалить</a></button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="form">
                <form th:action="@{/appraiser/addObjectToAppraise}" th:object="${objectToAppraise}" method="post">
                    <h3>Добавление объекта недвижимости</h3>
                    <div class="field">
                        <label for="addDeleteObjectToAppraise" class="label">Выберите тип объекта</label>
                        <select th:field = "*{objectType.type}" class="input"  id="addDeleteObjectToAppraise">
                            <option th:each = "objectType : ${objectsTypes}" th:value="${objectType.type}" th:text="${objectType.type}" class="input"></option>
                        </select>
                    </div>
                    <div class="field">
                        <label class="label" for="description">Введите описание объекта</label>
                        <input type="text" th:field="*{description}" class="input" id="description" placeholder="Описание" value="" required>
                    </div>

                    <button  type="submit" class="input">Добавить</button>

                </form>


                <form th:action="@{/appraiser/alterObject}" th:object="${objectToAppraise}" method="post" class="fm">
                    <h3>Изменение объекта<br> недвижимости</h3>
                    <div class="field">
                        <label for="alterObjectToAppraise" class="label">Выберите тип объекта</label>
                        <select th:field = "*{id}" class="input"  id="alterObjectToAppraise">
                            <option th:each = "objectToAppraise : ${objectsToAppraise}" th:value="${objectToAppraise.id}" th:text="${objectToAppraise.id}" class="input"></option>
                        </select>
                    </div>
                    <div class="field">
                        <label class="label" for="newDescription">Введите новое описание</label>
                        <input type="text" th:field="*{description}" class="input" id="newDescription" placeholder="Описание" value="" required>
                    </div>

                    <button  type="submit" class="input">Обновить</button>

                </form>
            </div>

    </div>
    </div>
</div>


    <div class="navbar">
        <div class="navbar-panel">
            <button class="close-menu">
                <svg  width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L21 21M1 21L21 1" stroke="black"/>
                </svg>
            </button>

            <nav class="navbar-menu">
                <ul class="menu nav-button">
                    <li class="menu-item">
                        <a href="/appraiser/appraiser-profile">
                            <h3>Договоры</h3>
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="/appraiser/lockUnlock">
                            <h3>Блокировка/разблокировка пользователей</h3>
                        </a>

                    </li>
                    <li class="menu-item">
                        <a href="/appraiser/objectsToAppraise">
                            <h3 style="padding-top: 30px;">Объекты для оценки</h3>
                        </a>
                    </li>
                    <li class="menu-item personalInfo">
                        <a href="/appraiser/personalInfo">
                            <h3 >Персональные данные</h3>
                        </a>
                    </li>
                </ul>

                <div class="contacts">
                    <h2 class="title">CONTACTS</h2>
                    <ul id="contacts">
                        <li>
                            <img src="/resources/static/assets/phone_icon.png" alt="phone" class="contacts-imgs">
                            <span>+375 44 798 70 77 </span>
                        </li>
                        <li>
                            <img src="/resources/static/assets/emai_icon.png" alt="e-mail" class="contacts-imgs">
                            <span>aleks.krutsko@gmail.com</span>
                        </li>
                        <li>
                            <img src="/resources/static/assets/telegram_icon.png" alt="telegram" class="contacts-imgs">
                            <span>@Alexei_kr</span>
                        </li>
                    </ul>
                </div>
                <a href="/logout">
                    <button type="submit" class="animated-button">
                        Выйти
                    </button>
                </a>
            </nav>
        </div>
        <button class="menu-button">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.937476 9.37501H29.0624C29.58 9.37501 29.9999 8.95498 29.9999 8.43754C29.9999 7.92002 29.5799 7.50006 29.0624 7.50006H0.937476C0.419955 7.50006 0 7.92009 0 8.43754C0 8.95498 0.420033 9.37501 0.937476 9.37501Z" fill="black"/>
                <path d="M29.0624 14.0626H0.937476C0.419955 14.0626 0 14.4826 0 15C0 15.5175 0.420033 15.9375 0.937476 15.9375H29.0624C29.58 15.9375 29.9999 15.5175 29.9999 15C29.9999 14.4826 29.58 14.0626 29.0624 14.0626Z" fill="black"/>
                <path d="M29.0625 20.625H10.3125C9.79495 20.625 9.375 21.0451 9.375 21.5625C9.375 22.08 9.79503 22.5 10.3125 22.5H29.0625C29.58 22.5 29.9999 22.0799 29.9999 21.5625C30 21.045 29.58 20.625 29.0625 20.625Z" fill="black"/>
            </svg>

        </button>
    </div>
<script>
    let login = document.querySelector("#login");
    login.value = localStorage.getItem("login");

    function myFunction() {
        let body = document.querySelector("body")
        body.classList.add("transform");
    }
    function myFunction1() {
        let body = document.querySelector("body")
        body.classList.remove("transform");
    }
</script>
</body>
</html>