<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appraisal agency</title>
    <link rel="stylesheet" href="/resources/static/css/styles.css">
    <script src="/resources/static/js/script.js" defer></script>
    <style>
        body{
            overflow: hidden;
            background-size: cover;
            background: url("/../../../resources/static/assets/background1.jpg") no-repeat;
            font-size: 18px;
        }
         .error{
             background-color: #fffcfc;
             position: absolute;
             z-index: 50;
             top: 30%;
             left: 13%;
             padding: 0.4rem;
             max-width: 400px;
         }
    </style>
</head>
<body>
<div th:class="${error} ? error : ''">
    <h4 th:text="${error}"></h4>
</div>

<main>

    <div class="form">


        <form th:action="@{/customer/updatePersonalInfo}" th:object="${user}" method="post">
            <table>
            <caption>Персональные данные</caption>
            <tr>
                <td class="field">
            <label for="email" class="label">Логин(email)</label>
            <input type="text" th:field="*{login}" id="email" placeholder="Логин" value="" class="input">
                </td></tr>
                <tr> <td class="field">
            <label for="password" class="label">Пароль</label>
            <input type="password" th:field="*{password}" id="password" placeholder="Пароль" value="" class="input">
            </td></tr>
                <tr><td class="field">
            <label for="firstName" class="label">Имя</label>
            <input type="text" th:field="*{firstName}" id="firstName" placeholder="Имя" value="" class="input">
            </td></tr>
                <tr> <td class="field">
            <label for="surname" class="label">Фамилия</label>
            <input type="text" th:field="*{surname}" id="surname" placeholder="Фамилия" class="input">
            </td></tr>
                <tr><td class="field">
            <label for="patronymic" class="label">Отчество</label>
            <input type="text" th:field="*{patronymic}" id="patronymic" placeholder="Отчество" class="input">
            </td></tr>
                <tr><td class="field">
            <label for="phone" class="label">Номер телефона</label>
            <input type="text" th:field="*{phone}" id="phone" placeholder="Номер телефона" class="input">
            </td></tr>
                <tr>
            <td><button type="submit" class="input" id="update">Обновить</button></td>
                </tr>
            </table>
        </form>
    </div>
</main>


<div class="navbar" >
    <div class="navbar-panel">
        <button class="close-menu">
            <img class="menu-img" src="/resources/static/assets/close-btn.svg">
        </button>

        <nav class="navbar-menu">
            <ul class="menu nav-button">
                <li class="menu-item">
                    <a href="/customer/newContract">
                        <h3>Новый договор</h3>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/customer/customer-profile">
                        <h3>Договоры на оценку недвижимости</h3>
                    </a>
                </li>

                <li class="menu-item">
                    <a href="/customer/viewSearch">
                        <h3>Просмотр и поиск</h3>
                    </a>

                </li>
                <li class="menu-item">
                    <a href="/customer/statistic">
                        <h3>Статистика оцененных объектов</h3>
                    </a>

                </li>
                <li class="menu-item">
                    <a href="/customer/personalInfo">
                        <h3>Персональные данные</h3>
                    </a>

                </li>
                <li class="menu-item">
                    <a href="/customer/feedback">
                        <h3>Дать отзыв о качестве услуг</h3>
                    </a>

                </li>
            </ul>

            <div class="contacts">
                <h2 class="title">CONTACTS</h2>
                <ul id="contacts">
                    <li>
                        <img src="/resources/static/assets/phone_icon.png" alt="phone" class="contacts-imgs">
                        <span>+375 44 798 70 77 </span>
                    </li>
                    <li>
                        <img src="/resources/static/assets/emai_icon.png" alt="e-mail" class="contacts-imgs">
                        <span>aleks.krutsko@gmail.com</span>
                    </li>
                    <li>
                        <img src="/resources/static/assets/telegram_icon.png" alt="telegram" class="contacts-imgs">
                        <span>@Alexei_kr</span>
                    </li>
                </ul>
            </div>
            <a href="/logout">
                <button type="submit" class="animated-button">
                    Выйти
                </button>
            </a>
        </nav>
    </div>
    <button class="menu-button">
        <img class="menu-img" src="/resources/static/assets/burger.svg">
    </button>
</div>
</div>
<script>
    document.querySelector("#update").addEventListener('click', saveLocalStorage)

    function saveLocalStorage(e){
        e.preventDefault();

        localStorage.setItem('login',document.querySelector('#email').value)
        document.forms[0].submit()
    }
</script>
</body>
</html>




